@{
    ViewBag.Title = "My First ASP MVC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Hello World</h1>
        </div>
    </section>
}
<h3>Miftakhul Eza Alfandy </h3>

